@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme{
    --color-bacground:#FFFFFF;
    --color-forground:#252B42;
    --color-button:#5F9EA0;
   --Primary-color:#E7F9FD;
    --first-font:'Lobster';
    --Primary-font:'Inter';
    --line-color:#000000;
    --section1-color:#E7FAFE;
    --color-Breakfast: #7082461A;
    --color-Vegan:#6CC63F1A;
    --color-Meat:#CC261B1A;
    --color-Dessert:#F09E001A;
    --color-Lunch:#0000000D;
    --color-Chocolate:#0000000D;  
    --color-d: #f5f5f5;
}
.dark{
   --color-bacground:#252B42;
    --color-forground:#FFFFFF;
}
@utility row{
    @apply flex items-center ;
}
